.x{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border:1px solid black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 300px;
    /* width: 100%; */
    flex-wrap: wrap;
}
.flex{
    display: flex;
}
.players{
    margin: 0 auto;
    display: block;
}
.main-container {
    max-width: 300px;
    width: 80%;
    margin: 20px auto;
}
.pl {
    margin-right: 15px;
}
button {
    margin-top: 10px;
}